body {
  background: lightgrey;
}
/*  <----------------> */
h1 {
  text-align: center;
  font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times,
    serif;
  font-size: 70px;
  color: white;
}

#display {
  border-bottom: thin solid;
  color: whitesmoke;
}

.quotes {
  max-width: 30em;
  color: white;
  font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times,
    serif;
  letter-spacing: 0.1em;
  text-align: center;
  margin: 40px auto;
  text-transform: lowercase;
  line-height: 145%;
  font-size: 2em;
  font-variant: small-caps;
}

p {
  max-width: 30em;
  max-height: 30em;
  color: lightskyblue;
  font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times,
    serif;
  letter-spacing: 0.1em;
  text-align: center;
  margin: 40px auto;
  text-transform: lowercase;
  line-height: 145%;
  font-size: 1.5em;
  font-variant: small-caps;
}

u {
  font-size: 40px;
  color: black;
}

li {
  color: black;
  max-width: 20em;
  max-height: 20em;
  font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times,
    serif;
  letter-spacing: 0.1em;
  text-align: center;
  margin: 20px auto;
  text-transform: lowercase;
  line-height: 145%;
  font-size: 1.5em;
  font-variant: small-caps;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

li:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

/* <---Button---> */

#buttons-container {
  display: grid;
  grid-template-columns: 30% 80% 30%;
}

#fav-button:hover {
  text-align: center;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#gen:hover {
  background-color: lightgray;
  color: black;
  border: thin solid white;
  opacity: 1;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#gen {
  font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times,
    serif;
  outline: none;
  padding-top: 5px;
  text-decoration: none;
  height: 40px;
  width: 100px;
  border-radius: 2px;
  transition: 0.5s;
  padding-bottom: 5px;
  position: absolute;
  right: 100px;
}

#fav-gen:hover {
  /* background-color: darkgoldenrod; */
  background-color: lightgray;
  color: black;
  border: thin solid white;
  opacity: 1;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#fav-gen {
  font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times,
    serif;
  outline: none;
  padding-top: 5px;
  text-decoration: none;
  height: 40px;
  width: 100px;
  border-radius: 2px;
  transition: 0.5s;
  padding-bottom: 5px;
  position: absolute;
  /* right: 670px; */
}

#fav-gen:after {
  content: "";
  background: lightblue;
  display: block;
  position: absolute;
  padding-top: 150%;
  padding-left: 150%;
  margin-left: -15px !important;
  margin-top: -80%;
  opacity: 0;
  transition: all 0.8s;
}

#fav-gen:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

/* #fav-gen:active {
  box-shadow: 0 5px black;
  transform: translateY(10px);
} */

button {
  background-color: lightsteelblue;
  opacity: 1;
  color: black;
}

/* button:active {
  background-color: lightgrey;
  box-shadow: 0 5px black;
  transform: translateY(10px);
} */

/* #x-gen:hover {
  background-color: lightsteelblue;
  color: black;
  border: thin solid black;
  opacity: 1;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
} */

/* #x-gen {
  outline: none;
  padding-top: 5px;
  text-decoration: none;
  height: 40px;
  width: 100px;
  border-radius: 2px;
  transition: 0.5s;
  padding-bottom: 5px;
} */
/* <---Other Favorite Button---> */

.w3-button:hover {
  /* background-color: whitesmoke; */
  background-color: lightgray;
  color: black;
  border: thin solid white;
  opacity: 1;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.w3-button {
  font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times,
    serif;
  /* background-color: lightsteelblue; */
  padding-top: 5px;
  text-decoration: none;
  height: 40px;
  width: 50px;
  border-radius: 12px;
  transition: 0.5s;
  padding-bottom: 5px;
  border-radius: px;
  color: black;
}

/* <---containers--->  */

.container2 {
  width: 600px;
  border: #000;
}

#sizing {
  height: 50px;
}
