body {
  background: lightgrey;
}
/*  <----------------> */
h1 {
  text-align: center;
  font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times,
    serif;
  font-size: 70px;
  color: white;
}

#display {
  border-bottom: thin solid;
  color: whitesmoke;
}

.quotes {
  max-width: 30em;
  color: white;
  font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times,
    serif;
  letter-spacing: 0.1em;
  text-align: center;
  margin: 40px auto;
  text-transform: lowercase;
  line-height: 145%;
  font-size: 2em;
  font-variant: small-caps;
}

p {
  max-width: 30em;
  max-height: 30em;
  color: lightblue;
  font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times,
    serif;
  letter-spacing: 0.1em;
  text-align: center;
  margin: 40px auto;
  text-transform: lowercase;
  line-height: 145%;
  font-size: 1.5em;
  font-variant: small-caps;
}

u {
  font-size: 40px;
  color: burlywood;
}

/* #id01 {
} */

li {
  color: burlywood;
  max-width: 20em;
  max-height: 20em;
  font-family: "Adobe Caslon Pro", "Hoefler Text", Georgia, Garamond, Times,
    serif;
  letter-spacing: 0.1em;
  text-align: center;
  margin: 20px auto;
  text-transform: lowercase;
  line-height: 145%;
  font-size: 1.5em;
  font-variant: small-caps;
}

/* <---Button---> */

#buttons-container {
  display: grid;
  grid-template-columns: 30% 80% 30%;
}

#fav-button:hover {
  text-align: center;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#gen:hover {
  background-color: lightsteelblue;
  color: black;
  border: thin solid black;
  opacity: 1;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#gen {
  outline: none;
  padding-top: 5px;
  text-decoration: none;
  height: 40px;
  width: 100px;
  border-radius: 2px;
  transition: 0.5s;
  padding-bottom: 5px;
  position: absolute;
  right: 100px;
}

#fav-gen:hover {
  background-color: lightsteelblue;
  color: black;
  border: thin solid black;
  opacity: 1;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

#fav-gen {
  outline: none;
  padding-top: 5px;
  text-decoration: none;
  height: 40px;
  width: 100px;
  border-radius: 2px;
  transition: 0.5s;
  padding-bottom: 5px;
  position: absolute;
  /* right: 670px; */
}

/* #x-gen:hover {
  background-color: lightsteelblue;
  color: black;
  border: thin solid black;
  opacity: 1;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
} */

/* #x-gen {
  outline: none;
  padding-top: 5px;
  text-decoration: none;
  height: 40px;
  width: 100px;
  border-radius: 2px;
  transition: 0.5s;
  padding-bottom: 5px;
} */
/* <---Other Favorite Button---> */

.w3-button:hover {
  background-color: lightsteelblue;
  color: black;
  border: thin solid black;
  opacity: 1;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.w3-button {
  outline: none;
  padding-top: 5px;
  text-decoration: none;
  height: 40px;
  width: 100px;
  border-radius: 2px;
  transition: 0.5s;
  padding-bottom: 5px;
  border-radius: px;
}

/* <---containers--->  */

.container2 {
  width: 600px;
  border: #000;
}
